
@{
    ViewData["Title"] = "TestAll";
}
    <div style="margin:20px">
        <span class="layui-breadcrumb">
            <a href="">提案管理</a>
            <a><cite>驳回提案管理</cite></a>
        </span>
        <table id="hidetopictable" lay-filter="layhidetb"></table>
        <script type="text/html" id="hidettoolbar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="allbacktonormal">批量恢复</button>
                <button class="layui-btn layui-btn-sm" lay-event="alldeletehide">批量删除</button>
            </div>
        </script>
        <script type="text/html" id="hideltoolbar">
            <a class="layui-btn layui-btn-xs" lay-event="lookdelete">查看</a>
            <a class="layui-btn layui-btn-xs" lay-event="backtonormal">恢复</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
        </script>
  </div>
        @section Scripts{
            <script>
                var table = layui.table;
                var layer = layui.layer;
                table.render({
                    elem: '#hidetopictable'
                    , url: '/Admin/Manage/GetHideIndex' //数据接口
                    , page: true //开启分页
                    , limit: 10 //每页显示行数
                    , id: 'adminhidetable'
                    , toolbar: '#hidettoolbar'
                    , cols: [[ //表头
                        { field: 'UserName', title: '工号' }
                        , { field: 'RealName', title: '姓名' }
                        , { field: 'Title', title: '标题' }
                        , {
                            field: 'CreateOn', title: '发布日期', templet: function (d) {
                                var datet = new Date(d.CreateOn);
                                var o = {
                                    "M+": datet.getMonth() + 1,                 //月份
                                    "d+": datet.getDate(),                    //日
                                    "h+": datet.getHours(),                   //小时
                                    "m+": datet.getMinutes(),                 //分
                                    "s+": datet.getSeconds(),                 //秒
                                    "q+": Math.floor((datet.getMonth() + 3) / 3), //季度
                                    "S": datet.getMilliseconds()             //毫秒
                                };
                                var fmt = "yyyy-MM-dd hh:mm:ss";
                                if (/(y+)/.test(fmt))
                                    fmt = fmt.replace(RegExp.$1, (datet.getFullYear() + "").substr(4 - RegExp.$1.length));
                                for (var k in o)
                                    if (new RegExp("(" + k + ")").test(fmt))
                                        fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                                return fmt;
                            }
                        }
                        , { title: '操作', toolbar: '#hideltoolbar' }
                    ]]
                });


                table.on('toolbar(layhidetb)', function (obj) {
                    var checkStatus = table.checkStatus(obj.config.id);
                    switch (obj.event) {
                        case 'allbacktonormal':
                            layer.msg('没时间写了,先直接预留按钮在这里');
                            break;
                        case 'alldeletehide':
                            layer.msg('没时间写了,先直接预留按钮在这里');
                            break;
                    };
                })

                //单元格编辑框  tool
                table.on('tool(layhidetb)', function (obj) {
                    var data = obj.data;
                    if (obj.event === 'backtonormal') {
                        var ohid = data.Id;
                        layer.confirm('确定要恢复么？', {
                            btn: ['确定', '取消'] //按钮
                        }, function (index) {
                            layer.close(index);
                            $.ajax({
                                url: "/Admin/Manage/BackToNormal",
                                data: { hideid: ohid },
                                success: function (data) {
                                    //将data的json字符串转换成js对象
                                    var re = JSON.parse(data);
                                    if (re.success == true) {
                                        obj.del();
                                        layer.msg(re.exinfo, {
                                            time: 2000
                                        });
                                    } else {
                                        layer.msg(re.exinfo, {
                                            time: 2000
                                        });
                                    }
                                }
                            })
                        }, function (index) {
                            layer.close(index);
                        });
                    }
                    else if (obj.event === 'delete') {
                        var adid = data.Id;
                        layer.confirm('确定要删除么？', {
                            btn: ['确定', '取消'] //按钮
                        }, function (index) {
                            layer.close(index);
                            $.ajax({
                                url: "/Admin/Manage/DeleteMust",
                                data: { deleteid: adid },
                                success: function (data) {
                                    //将data的json字符串转换成js对象
                                    var re = JSON.parse(data);
                                    if (re.success == true) {
                                        obj.del();
                                        layer.msg(re.exinfo, {
                                            time: 2000
                                        });
                                    } else {
                                        layer.msg(re.exinfo, {
                                            time: 2000
                                        });
                                    }
                                }
                            })
                        }, function (index) {
                            layer.close(index);
                        });
                    } else if (obj.event === 'lookdelete') {
                        var bohuiarr = new Array();
                        $.ajax({
                            url: "/Admin/Manage/HideReason",
                            data: { id: obj.data.Id },
                            async: false,
                            success: function (resdata) {
                                var re = JSON.parse(resdata);
                                if (re.code == 0) {
                                    var zanshiobj = new Object();
                                    zanshiobj.username = re.data[0].ReplyUserName;
                                    zanshiobj.realname = re.data[0].BohuiReal;
                                    zanshiobj.content = re.data[0].ReplyContent;
                                    bohuiarr.push(zanshiobj);
                                }
                            }
                        });
                        layer.open({
                            type: 1,
                            title: false,
                            closeBtn: 0,
                            shadeClose: true,
                            area: ['700px', '400px'],
                            content:
                                '<div id="showdetail" class="site-content" style="padding:20px">' +
                                '<div class="site-title">' +
                                ' <h1>' + obj.data.Title + '</h1> ' +
                                '<div>' +
                                '<blockquote class="layui-elem-quote">' +
                                obj.data.UserName + '-' + obj.data.RealName + '-' + obj.data.Department +
                                '<p>发布于' + obj.data.CreateOn + '</p>' +
                                '</blockquote>' +
                                '</div class="site-text">' +
                                '<div class="layui-field-box">' +
                                '<h3>提案背景</h3> <hr>' +
                                obj.data.Content + '</br>' + '</br>' +
                                '<h3>建议改善</h3><hr>' +
                                obj.data.Suggest + '</br>' + '</br>' +
                                '<h3>驳回理由</h3><hr>' +
                                bohuiarr[0].username + '-' + bohuiarr[0].realname + '</br>'
                                + bohuiarr[0].content +
                                '</div>' +
                                '</div>'
                        })
                    }
                })
            </script>
        }


