
<div class="layui-container fly-marginTop">
    <div class="fly-panel" pad20 style="padding-top: 5px;">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>拖拽上传</legend>
        </fieldset>

        <div class="layui-upload-drag" id="uploadfile">
            <i class="layui-icon layui-icon-upload-drag"></i>
            <p>点击上传，或将文件拖拽到此处</p>
        </div>
        <div id="statusaera">
        
        </div>
    </div>
</div>
@section scripts{
    <script>
        var $ = layui.$;
        var upload = layui.upload;
        var form = layui.form;
        var layer = layui.layer;

        upload.render({
            elem: '#uploadfile'
            , url: '/Tool/FileUpload'
            ,accept:'file'
            , done:  function (res, index, upload) {
                if (res.Success) { //上传成功
                    let showmsg = `<p id=${index}><span style="color: #5FB878;"> ${res.FName}上传成功</span> <a href="javascript:void(0)" onclick="delokfile(${res.Fid},${index})">删除</a></p>`
                    $("#statusaera").append(showmsg);
                } else {
                    layer.alert(res.Errormsg);
                }
              }
                , error: function (index, upload) {
                   layer.alert("上传失败请重新上传");
                }
        });

        function delokfile(fileid,indexid) {
            layer.confirm('此文件已上传成功，确认删除么？', {
                btn: ['确认', '取消'] //按钮
            }, function (index) {
                    layer.close(index);
                    console.log(indexid);
                    $.ajax({
                        type: "POST",
                        url: "/Tool/DeleteFile",
                        data: { dfid: fileid, tid: 0 },
                        success: function (data) {
                            var dfoj = JSON.parse(data);
                            if (dfoj.success) {
                                $("#" + indexid + "-0").remove();
                        } else {
                            layer.alert(dfoj.exinfo)
                        }
                    }
                });
            }, function (index) {
                layer.close(index);
            });
        }
    </script>
}


